<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by 365Bootstrap dot com - Free Responsive Html5 Templates">

    <title >高校微生活</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="../css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/animated-logo.min.css"><!-- Logo -->
	<link rel="stylesheet" href="../css/our-team.css"> <!-- Resource style -->
	<link rel="stylesheet" href="../css/animate.css"> <!-- Resource style -->
	
	<!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- Js -->
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../js/html5shiv.js"></script>
        <script src="../js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="font-family: 微软雅黑">高校微生活</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
					<li>
                        <a class="page-scroll" href="#page-top">首页</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">服务</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#spread">推广</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#demo">案例</a>
                    </li>
					<li>
                        <a class="page-scroll" href="#about">关于</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<!-- Navigation -->

	<!-- /////////////////////////////////////////Header -->
	<header id="page-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="o-container">
						<div class="c-slack">
						  <span class="c-slack__dot c-slack__dot--a"></span>
						  <span class="c-slack__dot c-slack__dot--b"></span>
						  <span class="c-slack__dot c-slack__dot--c"></span>
						  <span class="c-slack__dot c-slack__dot--d"></span>
						</div>
					</div>
					<div class="intro-text">
						<div class="intro-lead-in">专业的高校微信公众平台运营者</div>
						<div class="intro-heading">校园微信广告投放平台</div>
					</div>
					<a class="btn btn-1 btn-sm" href="#about">广告投放</a>
					<a class="btn btn-1 btn-sm" href="#team">账号展示</a>
				</div>
			</div>
		</div>
    </header>
	<!-- Header -->
	<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="index-page">
		
		<!-- ////////////Content Box 01 -->
		<section id="services" class="box-content box-1">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">
						<h2>服  务</h2>
						<hr>
						<div class="intro">多维校园媒体矩阵</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 box-item">
						<div class="wrap-img">
							<i class="fa fa-home fa-5x blue"></i>
						</div>
						<h3 class="blue">微信公众账号矩阵</h3>
						<p class="text-left">运营100多个微信公众平台，覆盖清华、北大、复旦、上交等国内100多所知名985&211高校。</p>
						<button type="submit" class="btn btn-2 ">查看全部账号</button>
					</div>
					<div class="col-sm-3 box-item">
						<div class="wrap-img">
							<i class="fa fa-user fa-5x yellow"></i>
						</div>
						<h3 class="yellow">精准用户200多万</h3>
						<p class="text-left">90%以上为本校在校学生，具有精准的用户，所以提供绝对垂直的推广宣传。</p>
						<button type="submit" class="btn btn-2 ">查看用户截图</button>
					</div>
					<div class="col-sm-3 box-item">
						<div class="wrap-img">
							<i class="fa fa-hand-o-up fa-5x green"></i>
						</div>
						<h3 class="green">阅读量领先同类账号</h3>
						<p class="text-left">分析用户喜好，及时调整内容，目前推文的阅读量在同类高校账号处于领先水平。</p>
						<button type="submit" class="btn btn-2 ">查看阅读量情况</button>
					</div>
					<div class="col-sm-3 box-item">
						<div class="wrap-img">
							<i class="fa fa-send fa-5x red"></i>
						</div>
						<h3 class="red" >庞大的用户互动数据</h3>
						<p class="text-left">"表白墙"、"树洞秘密"、"缘分墙"等模块每天有10000余条用户提交的数据</p>
						<button type="submit" class="btn btn-2 ">查看数据统计</button>
					</div>
				</div>		
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section id="new" class="box-content box-2 box-style">
			<div class="container">
				<div class="row">
					<Blockquote class="text-center" style="line-height: 70px">微信订阅号龙鱼混杂，刷量、僵尸粉横行，但是我们运营的所有账号用户绝对是精准的本校学生，阅读量一定是用户真实的点击量</Blockquote>
					<div class="text-center slogan-content" ></div>
				</div>		
			</div>
		</section>

		<!--服务-->
		<section id="spread" class="box-content box-1">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">
						<h2>推  广</h2>
						<hr>
						<div class="intro">软文、硬广、贴片、菜单链接等多种形式</div>
					</div>
				</div>
				<div id="fh5co-grid-products" class="animate-box">
					<div class="col-1">
						<a href="#" class="item-grid one" style="background-image: url(images/menu.png)">
							<div class="v-align">
								<div class="v-align-middle">
									<span class="icon"><img src="images/9.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
									<h3 class="title spread-title" style="color: #feff31;font-size:40px">菜单链接</h3>
									<h5 class="category" style="color: #4aff38;font-size:30px">菜单栏添加二级菜单</h5>
								</div>
							</div>
						</a>
						<a href="#" class="item-grid three" style="background-image: url(images/bottom.png)">
							<div class="v-align">
								<div class="v-align-middle">
									<span class="icon"><img src="images/18.svg" alt="Free HTML5 Templates" class="img-responsive "></span>
									<h3 class="title" style="color: #feff31;font-size:40px">贴片</h3>
									<h5 class="category" style="color: #4aff38;font-size:30px">表白墙底部贴片广告</h5>
								</div>
							</div>
						</a>
					</div>
					<div class="col-2">
						<a href="#" class="item-grid two" style="background-image: url(images/top.png)">
							<div class="v-align">
								<div class="v-align-middle">
									<span class="icon"><img src="images/27.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
									<h3 class="title" style="color: #feff31;font-size:40px">软件硬广</h3>
									<h5 class="category" style="color: #4aff38;font-size:30px">以推送头条、非头条文章的形式推广</h5>
								</div>
							</div>
						</a>

					</div>


				</div>
			</div>
		</section>

		<section id="demo">
			<div class="project">
				<div class="container">
					<h3>案例</h3>
					<div class="project-top">
						<div class="col-md-3 project-grid">
							<div class="project-grid-top">
								<a href="single.html" class="mask"><img src="images/first-demo.png" class="img-responsive zoom-img" alt=""/></a>
								<div class="col-md1">
									<div class="col-md2">
										<div class="col-md3">
											<span class="star"> 4.5</span>
										</div>
										<div class="col-md4">
											<strong>图文头条</strong><br>
											<small>效果最佳，具有更高的阅读量</small>
										</div>
										<div class="clearfix"> </div>
									</div>
									<!--<p>2, 3, 4 BHK Flats</p>
									<p class="cost">$65,000</p>-->
									<a href="single.html" class="hvr-sweep-to-right more">See Details</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 project-grid">
							<div class="project-grid-top">
								<a href="single.html" class="mask"><img src="images/second-demo.png" class="img-responsive zoom-img" alt=""/></a>
								<div class="col-md1">
									<div class="col-md2">
										<div class="col-md3">
											<span class="star"> 4.5</span>
										</div>
										<div class="col-md4">
											<strong>图文次条</strong><br>
											<small>性价较高,适合小规模推广</small>
										</div>
										<div class="clearfix"> </div>
									</div>
									<!--<p>2, 3, 4 BHK Flats</p>
									<p class="cost">$65,000</p>-->
									<a href="single.html" class="hvr-sweep-to-right more">See Details</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 project-grid">
							<div class="project-grid-top">
								<a href="single.html" class="mask"><img src="images/tips-demo.png" class="img-responsive zoom-img" alt=""/></a>
								<div class="col-md1">
									<div class="col-md2">
										<div class="col-md3">
											<span class="star"> 4.5</span>
										</div>
										<div class="col-md4">
											<strong>贴图推广</strong><br>
											<small>表白墙底部可以让更多用户看到</small>
										</div>
										<div class="clearfix"> </div>
									</div>
									<!--<p>2, 3, 4 BHK Flats</p>
									<p class="cost">$65,000</p>-->
									<a href="single.html" class="hvr-sweep-to-right more">See Details</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 project-grid">
							<div class="project-grid-top">
								<a href="single.html" class="mask"><img src="images/menu-demo.png" class="img-responsive zoom-img" alt=""/></a>
								<div class="col-md1">
									<div class="col-md2">
										<div class="col-md3">
											<span class="star"> 4.5</span>
										</div>
										<div class="col-md4">
											<strong>菜单</strong><br>
											<small>添加菜单栏，适合长期推广</small>
										</div>
										<div class="clearfix"> </div>
									</div>
									<!--<p>2, 3, 4 BHK Flats</p>
									<p class="cost">$65,000</p>-->
									<a href="single.html" class="hvr-sweep-to-right more">See Details</a>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</section>

		<!--<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>-->
		<!--<section id="team" class="box-content box-4 box-style" style="height: 100px">-->
			<!--<div class="clearfix">-->
				<!--<div class="cd-testimonials-wrapper cd-container" style="padding-top: 0px;margin-top: 0px">-->
					<!--<div style="margin: 0 auto; text-align:center;">-->
						<!--&lt;!&ndash;<div style="padding-bottom: 10px">-->
							<!--<h4>了解详情或者有其他合作方式请添加商务微信</h4>-->
						<!--</div>&ndash;&gt;-->
						<!--<div class="cd-contact">-->
							<!--<img src="images/avatar-1.jpg" alt="Author image">-->
							<!--<ul class="cd-author-info">-->
								<!--<li>小一不二</li>-->
								<!--<li></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div> &lt;!&ndash; cd-testimonials-wrapper &ndash;&gt;-->

				<!--<div class="cd-see-all"><a href="#0" class="btn btn-1">See all</a></div>-->
			<!--</div>-->
		<!--</section>-->
		<!-- ////////////Content Box 03 -->
		<div style="border-bottom: solid;border-bottom-color: #cccccc; height: 1px;width: 100%"></div>
		<section id="about" class="box-content box-3">
			<div class="container">

				<div class="row heading">
					<div class="col-lg-12">
						<h2>关于我们</h2>
						<hr>
						<div class="intro">校园媒体运营者中的新秀</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<ul class="timeline">
							<li class="blue">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="images/4.jpg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4>2013</h4>
										<h4 class="subheading">布局高校微信公众平台</h4>
									</div>
									<div class="timeline-body">
										<p class="text-muted">定位校园，面向全国，选取部分知名高校建立对应的公众平台，分析受众群体特征，提供学生感兴趣的内容和互动，借助微信订阅号未被折叠的红利，用户量迅速增长</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted red">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="images/5.jpg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4>2014</h4>
										<h4 class="subheading">扩展覆盖高校</h4>
									</div>
									<div class="timeline-body">
										<p class="text-muted">利用已有运营经验和资源，扩展覆盖高校至100余所。稳中求进，在高校自媒体圈内已具有一定影响力</p>
									</div>
								</div>
							</li>
							<li class="green">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="images/6.jpg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4>2015</h4>
										<h4 class="subheading">涉足校园社交</h4>
									</div>
									<div class="timeline-body">
										<p class="text-muted">开发高校微社区平台，定位于校园社交，与已有的微信公众平台形成优势互补，补足订阅号互动能力弱的劣势</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted yellow">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="images/7.jpg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4>2016</h4>
										<h4 class="subheading">为企业提供品牌和产品推广</h4>
									</div>
									<div class="timeline-body">
										<p class="text-muted">2015年中凭借在校园自媒体的影响力，陆续开始有知名品牌和企业投放广告。2016年凭借在客户中的口碑，更多的企业选择"高校微生活"投放广告，
											先后为YSL护肤品、中枢教育、麦穗留学、ofo共享出行等品牌和产品提供校园宣传推广</p>
									</div>
								</div>
							</li>
							<li class="green">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="images/6.jpg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4>2017</h4>
										<h4 class="subheading">微信广告投放平台建立</h4>
									</div>
									<div class="timeline-body">
										<p class="text-muted">服务于更多的广告主和自媒体运营者，实现广告一键投放，减少中间环节。</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted ">
								<div class="timeline-image">
									<h4>合作
									<br>互利
									<br>共赢</h4>
								</div>
							</li>
						</ul>
					</div>
				</div>		
			</div>
		</section>
		
		<!-- ////////////Content Box 04 -->

		
		<!-- ////////////Content Box 05 -->
		<!--<section class="box-content box-5" id="contact">-->
			<!--<div class="container">-->
				<!--<div class="row heading">-->
					<!--<div class="col-lg-12">-->
	                    <!--<h2>Contact</h2>-->
						<!--<hr>-->
	                    <!--<div class="intro">Lorem ipsum dolor sit amet</div>-->
	                <!--</div>-->
				<!--</div>-->
				<!--<div class="row">-->
					<!--<div class="col-md-4 ">-->
						<!--<div class="row box-item">-->
							<!--<h3>Complete the Submission Form</h3>-->
							<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>-->
							<!--<h3>Or Just Make a Call</h3>-->
							<!--<p>+6221 888 888 90 <br>-->
								<!--+6221 888 88891</p>-->
							<!--<p>info@yourdomain.com</p>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-8">-->
						<!--<div id="contact-form">-->
							<!--<form name="form1" method="post" action="contact.php">-->
								<!--<div class="row">-->
									<!--<div class="col-md-6">-->
										<!--<div class="form-group">-->
										<!--<input type="text" class="form-control input-lg" name="name" id="name" placeholder="Enter name" required="required" />-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-md-6">-->
										<!--<div class="form-group">-->
											<!--<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Enter email" required="required" />-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="row">-->
									<!--<div class="col-md-12">-->
										<!--<div class="form-group">-->
											<!--<input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required" />-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="row">-->
									<!--<div class="col-md-12">-->
										<!--<div class="form-group">-->
											<!--<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"-->
											<!--placeholder="Message"></textarea>-->
										<!--</div>						-->
										<!--<button type="submit" class="btn btn-3 btn-block" name="btnContactUs" id="btnContactUs">-->
									<!--Submit</button>-->
									<!--</div>-->
								<!--</div>-->
							<!--</form>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</section>-->
		
	</div>
	
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-footer footer-1">
						<div class="heading"><h4>关于我们</h4></div>
						<div class="content">
							<p style="">北京校萌科技有限公司，致力于提供优质的微信相关产品和服务的一家公司</p>
						</div>
					</div>
					<div class="col-md-4 col-footer footer-2">
						<div class="heading"><h4>联系方式</h4></div>
						<div class="content">
							<table>
								<tr>
									<th>
										<p >Email:campus@163.com&nbsp;</p>
									</th>
									<th>
										<p >微信：campusywg</p>
									</th>
								</tr>
								<tr>
									<th>
										<p >TEL:13519287318</p>
									</th>
									<th>
										<p >QQ:591320673</p>
									</th>
								</tr>
							</table>
							<!--<ul >
								<li style="display:inline-block; ">
									<p >Email:campus@163.com&nbsp;&nbsp;</p>
								</li>
								<li style="display:inline-block; ">
									<p >微信：campusywg</p>
								</li>
								<li style="display:inline-block; ">
									<p >TEL:13519287318m&nbsp;&nbsp;</p>
								</li>
								<li style="display:inline-block; ">
									<p >微信：campusywg</p>
								</li>
							</ul>-->

								<!--<span class="text-primary">Email</span>:campus@163.com &nbsp;&nbsp;<span style="color:red">tel</span>:13711111111
								<span class="text-primary">微  信</span>:campusYjjj
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">qq</span>:591320673-->
							<!--<div class="subcribe-form" >
								<form method="get" action="/search" id="subcribe">
									<div class="form-group">
										<input type="text" class="form-control input-lg" name="subcribe" placeholder="Enter your email address...  " required="required" />
									</div>
									<button type="submit" name="Submit" class="btn btn-4 f-left">Subcribe</button>
								</form>
							</div>-->
						</div>
					</div>
					<div class="col-md-4 col-footer footer-3">
						<div class="heading"><h4>相关链接</h4></div>
						<div class="content" >
							<span><a>客户中心</a>|
							<a>微信公众平台</a>|
							<a>新榜</a>|
							<a>微信</a>|
							<a>秀米</a>
							</span>
							<!--<div class="subcribe-form" >
								<form method="get" action="/search" id="subcribe">
									<div class="form-group">
										<input type="text" class="form-control input-lg" name="subcribe" placeholder="Enter your email address...  " required="required" />
									</div>
									<button type="submit" name="Submit" class="btn btn-4 f-left">Subcribe</button>
								</form>
							</div>-->
						</div>
					</div>
					<!--<div class="col-md-4 col-footer footer-3">
						<div class="row">
							<div class="col-md-6">
								<a href="#"><img class="img-circle" src="images/ruc.jpg" /></a>
							</div>
							<div class="col-md-6">
								<a href="#"><img class="img-circle" src="images/tju.jpg" /></a>
							</div>
							<div class="col-md-6">
								<a href="#"><img class="img-circle" src="images/ruc.jpg" /></a>
							</div>
							<div class="col-md-6">
								<a href="#"><img class="img-circle" src="images/tju.jpg" /></a>
							</div>
							&lt;!&ndash;<div class="col-md-8">
								<a href="#"><img class="img-circle" src="images/bju.jpg" /></a>
							</div>
							<div class="col-md-8">
								<a href="#"><img class="img-circle" src="images/tinghua.jpg" /></a>
							</div>&ndash;&gt;
						</div>
					</div>-->
				</div>
			</div>
		</div>
		<div class="copy-right">Copyright &copy; 2017.北京校萌科技有限公司</div>
		<!--<div class="col-md-4">
			<div class="container">
				<div class="row">
					<div class="col-md-4 center-block">
						<p class="center-block">Copyright &copy; 2017.北京校萌科技有限公司</p>
					</div>
			</div>
		</div>
		</div>-->

		<!--qq聊天代码部分begin-->
		<div class="izl-rmenu">
			<a class="consult" target="_blank"><div class="phone" style="display:none;">13716761631</div></a>
			<a class="cart"><div class="pic"></div></a>
		</div>
		<a target="_blank"  href="http://wpa.qq.com/msgrd?v=3&uin=591320673&site=qq&menu=yes" id="udesk-feedback-tab" class="udesk-feedback-tab-left" style="display: block; background-color: black;"></a>
		<!--qq聊天代码部分end-->

	</footer>
	<!-- Footer -->

	
	<!-- jQuery -->
	<script src="../js/jquery-2.1.1.js"></script>
	<script src="../js/masonry.pkgd.min.js"></script>
	<script src="../js/jquery.flexslider-min.js"></script>
	<script src="../js/main.js"></script> <!-- Resource jQuery -->

	<!-- Bootstrap Core JavaScript -->
	<script src="../js/bootstrap.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../js/agency.js"></script>

	<!-- Animated Top -->
	<script src="../js/jquery.easing.min.js"></script>
	<script src="../js/classie.js"></script>
	<script src="../js/cbpAnimatedHeader.js"></script>
</body>
</html>